API_URL=https://www.ovh.com/engine/api/dedicated/server/availabilities?country=it
WANTED_MODELS=kS2, KS-1, KS3
WANTED_REGION=europe|apac|northAmerica
INTERVAL=30
HEALTH_CHECK_URL=https://hc-ping.com/uuid

# Notifications
NOTIFICATIONS_BUFFER=30
NOTIFICATIONS_URL=https://notify.example.com
NOTIFICATIONS_API_KEY=
NOTIFICATIONS_HANDLERS=email, TELEgram, ...
EMAIL_FROM=kimsufi-notifier@example.com
KIMSUFI_BUY_URL=https://www.kimsufi.com/it/ordine/kimsufi.xml